* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #E2E1DD;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}


/* Header */
header {
    background-color: #E2E1DD; /* Pale blue background (верхняя часть)*/
    padding: 20px 0;
    border-bottom: 1px solid #1077EC; /* Light gray border */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 40px;
    font-family: Italian;
    color: #000000;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #545454; /* Steel blue color */
    padding: 8px 15px;
    border-radius: 5px;
    font-family: "Bellota Text";
    font-size: 24px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #A09E9E; /* Lighter pale blue on hover */
}

.auth-links {
    display: flex;
    gap: 10px;
}

.auth-links-reg a,
.auth-links-reg button {
    padding: 8px 15px;
    border-radius: 15px;
    font-family: "Bellota Text";
    font-size: 23px;
    border: none;
    background-color: #374DCB; /* Steel blue color */
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
.auth-links-login a,
.auth-links-login button {
    padding: 8px 15px;
    font-family: "Bellota Text";
    font-size: 23px;
    border: none;
    color: #374DCB;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-right: 3px solid #939292;
}
.auth-links-login a:hover,
.auth-links-login button:hover{
    color:#333333;
}
.auth-links-reg a:hover,
.auth-links-reg button:hover {
    background-color: #939292; /* Darker steel blue on hover */
}

.main-content-wrapper {
    position: relative;
    margin-bottom: 40px;
}

/* Main Content */
.main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.text-content {
    width: 100%;
    max-width: 800px;
    max-height: 400px;
    top: 50px;
    left: 0px;
    padding: 20px;
    background-color: #D3D0D0;
    border-radius: 15px;
    position: relative;
    z-index: 2;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    text-align: left; /* Выравниваем текст по левому краю */
}

.text-content h1 {
    font-size: 24px;
    font-family: "Bellota Text";
    margin-left: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.text-content p {
    margin-left: 50px;
    font-size: 24px;
    font-family: "Bellota Text";
    color: #555;
    margin-bottom: 50px;
}

.cta-button {
    background-color: #C2C0C0;
    color: #6A7DEA;
    padding: 12px 25px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 36px;
    margin-left: 40px;
    font-family: "Bellota Text";
    font-weight: bold;
    transition: background-color 0.3s;
    text-decoration: none; /* Добавляем это, чтобы убрать подчеркивание */
    display: inline-block; /* Чтобы padding применялся */
}

.cta-button:hover {
    background-color: #939292;
}

.image-content {
    width: 490px;
    height: 490px;
    position: absolute;
    right: 150px;
    top: 0;
    z-index: 3;
}

.image-content img {
    height: 130%;
    width: 130%;
    object-fit: cover;
    display: block;  /* Чтобы убрать лишний отступ снизу изображения */
    position: relative;
}

/* Features Section */
.features {
    background-color: #B0B2D3;
    max-width: 900px;
    max-height: 430px;
    padding: 60px 0 30px;
    border-radius: 10px;
    position: relative;
    left: 50px;
    z-index: 1;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    margin-top: 30px; /* Add margin-top to separate it from the main-content */
}

.why-me {
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
    color: #1F1FCA;
    padding: 15px 50px;
    border:none;
    bottom: -20px;
    font-family: "Bellota Text";
    margin-left: 100px;
    background-color: #DEDBDB;
    border-radius: 250px;
    position: relative; /* Поднимаем текст над фоном */
    z-index: 1;

}

.features-list {
    list-style: none;
    padding: 50px 70px;
    margin: 0;
}

.features-list li {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    font-family: "Bellota Text";
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.features-list li:last-child {
    border-bottom: none;

}

.features-list li img {
    width: 35px;
    height: 35px;
    margin-right: 15px;
}

.features-list li span {
    font-size: 20px;
    color: #2E2EC9;;

}

.page2{
    margin-top: 50px;
    background-color: #A09E9E;
    padding-bottom: -3000px;
    min-height: auto;
}
.hightcontent{
    padding-top: 50px;
}
.high-content-text{
    background-color: #D9D9D9;
    font-size: 24px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Bellota Text";
}

.high-content-big{
    background-color: #D9D9D9;
    border-radius: 15px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 250px;
    padding: 50px 100px 70px 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.high-content-big-text{
    display: block;
    font-size: 24px;
    font-family: "Bellota Text";
    padding-left: 80px;      /* Отступ для всего текста */
    padding-right: 100px;    /* Отступ справа */
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    line-height: 50px;
}
.organization span{
    background-color: #B0B2D3;
    font-family: "Bellota Text";
    font-size: 24px;
    border-radius: 30px;
    padding: 0 10px;
}
.organization li{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 80px;
    list-style-type: none;
}

.big-image img{
    width: 300px;
    height: 300px;
    border-radius: 45px;
    object-fit: cover;
    display: block;  /* Чтобы убрать лишний отступ снизу изображения */
    position: relative;
    left: 1250px;
    top: -400px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

}

.page3{
    margin-bottom: 180px;
    background-color: #6B6969;
    padding-bottom: -3000px;
    min-height: auto;
}
.high-contentpage3{
    padding-top: 50px;
}

.price{
    background-color: #D9D9D9;
    font-size: 24px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Bellota Text";
}

.button{
    background-color: #B0B2D3;
    font-family: "Bellota Text";
    font-size: 24px;
    border-radius: 10px;
    position: relative;
    top: 60px;
    left: 540px;
    padding: 10px 130px;
    text-align: center;

}

.foroneuser{
    background-color: #D9D9D9;
    width: 470px;
    height: 660px;
    border-radius: 10px;
    margin: 120px 260px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.foroneuser-img img{
    width: 230px;
    height: 230px;
    position: relative;
    top: 50px;
    left: 115px;
}

.one-user{
    font-family: "Bellota Text";
    font-size: 24px;
    position: relative;
    top: 55px;
    left: 100px;
}

.one-user-list img{
    width: 40px;
    height: 40px;
    margin: 5px 60px;
    position: relative;
    top: 70px;
}

.one-user-list li{
    list-style-type: none;
}
.one-user-list span{
    font-family: "Bellota Text";
    font-size: 20px;
    position: relative;
    top: 50px;
    left: -35px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

.for-free1{
    background-color: #8494CC;
    font-family: "Bellota Text";
    font-size: 20px;
    color: white;
    border-radius: 15px;
    position: relative;
    top: 110px;
    left: 100px;
    padding: 10px 90px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}



.forcorpuser{
    background-color: #8494CC;
    width: 470px;
    height: 660px;
    border-radius: 10px;
    margin: 120px 230px;
    position: relative;
    top: -780px;
    left: 720px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.for-corp-user-img img{
    width: 230px;
    height: 230px;
    position: relative;
    top: 50px;
    left: 115px;
}

.corp-user{
    font-family: "Bellota Text";
    color: white;
    font-size: 24px;
    position: relative;
    top: 55px;
    left: 60px;
}

.corp-user-list img{
    width: 40px;
    height: 40px;
    margin: 5px 60px;
    position: relative;
    top: 70px;
}

.corp-user-list li{
    list-style-type: none;
}
.corp-user-list span{
    font-family: "Bellota Text";
    font-size: 20px;
    position: relative;
    top: 50px;
    left: -35px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

.for-free2{
    background-color: #D9D9D9;
    font-family: "Bellota Text";
    font-size: 20px;
    color: black;
    border-radius: 15px;
    position: relative;
    top: 110px;
    left: 100px;
    padding: 10px 90px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.page4{
    background-color: #B0B2D3; /* Убедитесь, что совпадает с body */
    margin-top: -800px;
    padding-bottom: -900px; /* Добавьте отступ снизу */
    position: relative;
    z-index: 1;
    height: 850px;
}
.high-contentpage4{
    padding-top: 20px;
}
.products{
    background-color: #D9D9D9;
    font-family: "Bellota Text";
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
    padding: 20px 300px;
}

.product1{
    background-color: #D9D9D9;
    position: relative;
    top: 50px;
    left: 200px;
    width: 350px;
    height: 350px;
    border-radius: 10px;
}

.text-product1{
    background-color: white;
    font-family: "Bellota Text";
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    top: 60px;
    margin: -20px 30px;
    padding: 10px 30px;
    display: block;
    box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.product1 img{
    width: 150px;
    height: 150px;
    position: relative;
    left: 110px;
    top: 20px;
}

.product2{
    background-color: #D9D9D9;
    position: relative;
    top: -300px;
    left: 700px;
    width: 350px;
    height: 350px;
    border-radius: 10px;
}
.text-product2{
    background-color: white;
    font-family: "Bellota Text";
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    top: 60px;
    margin: -20px 30px;
    padding: 10px 10px;
    display: block;
    box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.product2 img{
    width: 150px;
    height: 150px;
    position: relative;
    left: 110px;
    top: 20px;
}

.product3{
    background-color: #D9D9D9;
    position: relative;
    top: -650px;
    left: 1200px;
    width: 350px;
    height: 350px;
    border-radius: 10px;
}

.text-product3{
    background-color: white;
    font-family: "Bellota Text";
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    top: 60px;
    margin: -20px 30px;
    padding: 10px 0px;
    display: block;
    box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.product3 img{
    width: 150px;
    height: 150px;
    position: relative;
    left: 110px;
    top: 20px;
}

.text-bottom{
    background-color: #8494CC;
    font-family: "Bellota Text";
    font-size: 24px;
    color: #5B5858;
    text-align: center;
    position: relative;
    top: -500px;
    border-radius: 10px;
    padding: 20px 130px;
    left: 400px;
}

.page3::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: #B0B2D3;
    z-index: 1;
}

.sdelali {
    font-family: "Bellota Text";
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
}
.razrab{
    font-family: "Bellota Text";
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
}

.razrab li{
    list-style-type: none;
    margin-top: 15px;
}
/* ... остальные стили features остаются без изменений ... */

/* Медиа-запросы для адаптивности */
@media (max-width: 1100px) {
    .text-content::after {
        width: 150px; /* Уменьшаем расширение на маленьких экранах */
    }
}

@media (max-width: 900px) {
    .text-content::after {
        display: none; /* На очень маленьких экранах убираем расширение */
    }

    .main-content {
        flex-direction: column;
    }

    .text-content {
        max-width: 100%;
        min-height: auto;
        margin-bottom: 20px;
    }

    .image-content {
        position: relative;
        width: 100%;
        height: auto;
        margin-top: 20px;
    }

    .features {
        margin-top: 0;
        padding-top: 40px;
    }
}